.col-centered{
	float: none;
	margin: 0 auto;
}

.redtext{
	color:#d9534f;
}

#loginbounds{
	padding-top: 3em;
}

.thrashbutton{
	font-size: 1em;
}

.products{
	margin-bottom: 0.5em;
}

#navbarlogo{
	font-size: 2em;
	font-family: Pacifico;
}

.navbar{
	margin-bottom: 0;
	background-color: #d9534f;
	border-radius: 0;
}

.navbar a{
	color: white;
}

.icon-bar:focus, icon-bar:hover, .icon-bar {
	background-color: white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #d9534f;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #d9534f;	
}

/*End of navbar custom styling*/

#mycarousel img {
	height:100vh;
	background-size:cover;
	margin-bottom: 1em;
}

.carousel img {
	min-width: 100%;
}

.carouseltext{
	margin-bottom: 0;
	font-size: 4em;
}

.carouselsubtext{
	margin-bottom: 5em;
	font-size: 2em;
}

.right.carousel-control, .left.carousel-control {
	opacity: 0;
	filter:alpha(opacity=0); /* IE support */
}

#mycarousel a{
	text-decoration: none;
	color: white;
}


/*Custom css for carousel for screen */
@media only screen and (max-width: 766px) {
	#mycarousel img {
		height:50vh;
		background-size:cover;
		margin-bottom: 1em;
	}

	.carouseltext{
		padding-top: 2em;
		font-size: 2em;
	}

	.carouselsubtext{
		margin-bottom: 1em;
		font-size: 1em;
	}
}
/*Custom css for carousel when screen gets smaller */

#checkoutheading span{
	font-family: Pacifico;
	color: #d9534f;
}



.form-control:focus {
	border-color: #d9534f;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.logo{
	font-family: Pacifico;
	color: #d9534f;
}

#productbounds{
	margin-bottom: 2em;
}

#shoesizebuttons{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#shoesizebuttons button{
	width: 20%;
	margin: 0.4em;
}

footer a,a:hover, a:visited{
	color: white; 
}

footer{
	background-color: #d9534f;
}

footer p, footer h4{
	color: white;
}

.footerinfo{
	padding-top: 2em;
}
